[Unit]
Description=Monitor Website Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/monitorWebsite/monitorWebsite.py
WorkingDirectory=/home/pi/monitorWebsite
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target